name: "Books to Scrape testing framework"

on:
  push:
    branches:
      - main

jobs:
    test:
      runs-on: ubuntu-latest
      container:
        image: node:25
      steps:
        - uses: actions/checkout@v3
          with:
            node-version: 25
        - run: npm ci
        - run: npx playwright install
        - run: npx playwright test
